.Container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 1fr;
  background-color: hsl(0, 0%, 78%);
  overflow: hidden;
}

.PatternEditorContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.PatternEditor {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 12rem;
  overflow: hidden;
}

.EditorTabNav {
  gap: 5px;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;

  .EditorTab {
    border-radius: 6px 6px 0px 0px;
    background-color: hsl(0, 0%, 60%);

    &.ActiveTab {
      background-color: hsl(0, 0%, 100%);
    }
  }

  &::-webkit-scrollbar {
    height: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: #008cff;
  }
}

.Toolbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 5px;

  .ButtonToolbar {
    padding: 5px;
    width: 100%;
  }
}

.PanelTitle {
  font-weight: bold;
  font-size: larger;
  width: 100%;
}
