.EditorTabNav {
    gap: 5px;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    height: 2.5rem;

    .EditorTab {
        border-radius: 6px 6px 0px 0px;
        background-color: rgb(60, 60, 60);
        opacity: 0.3;
        text-decoration: none;
        outline: 0 !important;

        &.ActiveTab {
            color: white;
            opacity: 1;
        }
    }

    &::-webkit-scrollbar {
        height: 0.3rem;
    }

    &::-webkit-scrollbar-track {
        background: rgb(60, 60, 60);
    }

    &::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 0%);
    }
}
