@import'~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  min-height: 100vh;
}

#app {
  min-height: 100%;
  width: 100vw;
}
