:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.node {
	color: white;
}

.scroll-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 8px 8px 0px 8px;
	gap: '2px';
	overflow-x: scroll;
}

.scroll-nav::-webkit-scrollbar {
  display: none;
}
