.EditorTab {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  color: black;

  .Title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 8rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .CloseBtn {
    color: black;
  }
}